.highlight-1 {background-color: rgba(255, 255, 0, 0.356);}
.highlight-2 {background-color: rgba(0, 140, 255, 0.26);}
.highlight-3 {background-color: rgba(255, 0, 0, 0.315);}
.highlight-0 {background-color: rgba(200, 255, 0, 0.377);}
.error-highlight {color: red;}